{% extends 'base.html.twig' %}

{% block body %}
       <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
      
       <h1>Alugue um Carro</h1>
        
        <form class="form-inline">
            <div class="form-group">
             
              <select name="cidade" class="form-control">
                  <option value="1">Curitiba</option>
              </select>    
              
            </div>
            <div class="input-daterange input-group" id="datepicker">
                <input type="text" class="form-control" name="start" />
                <span class="input-group-addon"> até </span>
                <input type="text" class="form-control" name="end" />
            </div>
            
            <button type="submit" class="btn btn-success">Pesquisar</button>
          </form>
      
      </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('locales/bootstrap-datepicker.pt-BR.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-datepicker.js')}}"></script>
    
    <script type="text/javascript">
        $(document).ready(function(){
        $('#datepicker').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            multidate: false
        });
        
       });
    </script>
    
{% endblock %}

{% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.css') }}" />
{% endblock %}